<a href="https://colab.research.google.com/github/AlbinDavid/Python-basics-and-Data-Science-/blob/master/Breakage_analysis_and_forecasting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
import pandas as pd

In [3]:
##https://raw.githubusercontent.com/AlbinDavid/Python-basics-and-Data-Science-/master/breakage_analysis.csv
# Excel file updated
###https://github.com/AlbinDavid/Python-basics-and-Data-Science-/blob/master/breakage_analysis_result.xlsx?raw=true

In [41]:
df=pd.read_csv('https://raw.githubusercontent.com/AlbinDavid/Python-basics-and-Data-Science-/master/breakage_analysis.csv')
print(df)

   Giftcards        Date  Card Value Customers
0        GC1  01-01-2020          20        C1
1        GC2  01-01-2020          10        C1
2        GC2  02-01-2020          10        C2
3        GC3  05-29-2020          50        C3
4        GC4  05-29-2020         200        C2
5        GC1  05-01-2020          15        C1
6        GC2  07-01-2020           0        C2
7        GC2  07-25-2020           4        C2
8        GC4  07-25-2020          50        C2
9        GC1  07-28-2020          15        C1
10       GC2  07-28-2020           0        C1
11       GC2  07-28-2020           4        C2
12       GC4  07-28-2020         -50        C2
13       GC3  07-28-2020         -50        C3

In [46]:
#Data Preprocessing
df.dtypes

Giftcards     object
Date          object
Card Value     int64
Customers     object
dtype: object

In [47]:
df.shape

(14, 4)

In [48]:
df.head()

  Giftcards        Date  Card Value Customers
0       GC1  01-01-2020          20        C1
1       GC2  01-01-2020          10        C1
2       GC2  02-01-2020          10        C2
3       GC3  05-29-2020          50        C3
4       GC4  05-29-2020         200        C2

In [49]:
df.describe()

       Card Value
count   14.000000
mean    19.857143
std     59.200906
min    -50.000000
25%      1.000000
50%     10.000000
75%     18.750000
max    200.000000

In [50]:
df.columns

Index(['Giftcards', 'Date', 'Card Value', 'Customers'], dtype='object')

In [55]:
X=df[['Giftcards','Date','Customers']]
y=df['Card Value']

In [56]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [61]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train,y_train)

ValueError: ignored